<<!DOCTYPE html>

<head>
  <title>Business Portfolio</title>
  <link rel="stylesheet"  type="text/css" href="/static/styles/construction.css">
  <meta charset="UTF-8">
  <meta name = "description" content = "A formal portfolio for me to showcase my skills, please visit 5ifty.xyz for my other project"/>
  </head>

  <body>
    <div class='bg-image'>
      </div>
    <div class="bg-text">
    <h1>This Website is Still Being Built</h1>
    <p1>For more info please contact me via <a href='mailto:apexukbusiness@gmail.com'>email</a></p1>

    </div>
  </body>
