<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="A more formal business site">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  type="text/css" href="/static/styles/CSS/business.css">
  <link rel="subresource" href="/static/styles/CSS/business.css">
  <link rel="prefetch" href="/static/styles/CSS/business.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/CSS/styles.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

{% assets "scss_all" %}
    <script type="text/scss" src="{{ ASSET_URL }}"></script>
{% endassets %}

<body>
  <div id="main" class="container">
    <div id='felltext' class="fallingtext">
    <span>W</span>
    <span>E</span>
    <span>L</span>
    <span>C</span>
    <span>O</span>
    <span>M</span>
    <span>E</span>

</div>
<a href="#second" class="scroll-down"></a>
</div>



<div class="container2" id="ghostcontainer">
</div>


<div id='second' class="container3">
  <div class="card" id='tileholder'>
    <div class="face face1">
      <div class="content">
      <h2 class='java'>About me</h2>
      <p class='java'>I am a 19 year old developer from the UK, currently working towards an apprenticeship at BetterBoards Ltd.
      I mainly focus on backend logic using python, ususally handling data, but often try trying to improve my front end development abilities.
    </p>
      </div>
    </div>


<div class="face face2">
  <h2>01</h2>
    </div>
    </div>

<div class="card">
  <div class="face face1">
    <div class="content">
    <h2 class="python">What I do?</h2>
    <p class="python"> I build projects</p>
  </div>
</div>
  <div class="face face2">
    <h2>02</h2>
  </div>
</div>

<div class="card">
  <div class="face face1">
    <div class="content">
      <h2 class="cSharp">Find me</h2>
      <p class="cSharp">You can find me on github and stack overflow</p>
    </div>
  </div>
  <div class="face face2">
    <h2>03</h2>
  </div>
</div>




</body>





















</html>
