<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="A more formal business site">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  type="text/css" href="/static/styles/business.css">
  <link rel="subresource" href="/static/styles/business.css">
  <link rel="prefetch" href="/static/styles/business.css">

<body>
  <div id="main" class="container">
    <div id='felltext' class="fallingtext">
    <span>W</span>
    <span>E</span>
    <span>L</span>
    <span>C</span>
    <span>O</span>
    <span>M</span>
    <span>E</span>
</div>
</div>
</body>





















</head>
</html>
