<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <meta name = "description" content = "Portfolio Showing my work in HTML, CSS, Js and Python"/>
    <link rel="icon" href="/static/images/favicon.jpg" type="image/jpg">
    <script type="text/javascript" src="/static/styles/JS/enter.js"></script>
    <script type="text/javascript" src='/static/styles/JS/onclick.js'></script>
    <link rel="stylesheet"  type="text/css" href="/static/styles/CSS/custom.css">
</head>
<body style="background-color:black;">>


<style>

.hidden {
visibility: hidden;
}

p {
      text-align: top;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: greenyellow;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: greenyellow;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: greenyellow;
  }





  </style>
<h class='cmdtext typewriter-text'>Welcome to my portfolio website!</h>
<input type='hidden' class='inputbox' method='POST' name='cmdinput' maxlength='10' autofocus>   <!-- Flask likes to throw errors when it doesnt actually need to, this stops a stupid 404 error -->
<div>
<div  class='borderheader cmdtext'><img src='/static/images/terminal.jpg' alt='Terminal Icon' style="width:35px;height:30px"><p1>C:Users\5ifty\This_Website\Terminal.exe</p1></div>
<div class='borders cmdtext' style='overflow: scroll; scrollbar-color: grey lightgrey;'>Command Terminal [Version 13.01.22]<br>(c) 5ifty & Affiliates. All rights reserved. Please read licensing agreements.<br>
C:\Users\5ifty\This_Website\ &#160;<div class='blinking-cursor'>|</div>



  <div class='easydiv' id='newpost'>

  <button id='aboutbutton' value='IC3' onclick="unhide(); typewrite();" class='invisiblebutton'>-About Me</button>
  <div class="hidden typewriter">
    <span>


    <p id='typeabout' class="terminaltext">I'm a 19 year old Developer from the UK, specializing in HTML, CSS and JS frontends and Python Altered Back-Ends for Data Management.</p>
  </div>
</span>




<p><a href="https://www.github.com/5ifty" target="_blank">-Github</p>
<p><a href="mailto:5iftyenquiries@gmail.com" target="_blank">-Email</p>
<p><a href="https://stackoverflow.com/users/15440841/harry" target="_blank">-StackOverflow</p>
<p><a href="/business" target='_blank'>-Business Website</p>

</div>
</div>
</div>
</div>
</div>

</body>

<body>




</body>

</html>
