<html>
<head>
    <link rel="stylesheet"  type="text/css" href="/static/styles/custom.css">
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <meta name = "description" content = "Portfolio Showing my work in HTML, CSS, Js and Python"/>
    <link rel="icon" href="/static/images/favicon.jpg" type="image/jpg">
    <script type="text/javascript" src="/static/styles/enter.js"> </script>
</head>
<body style="background-color:black;">>
<style>


p1 {
      text-align: top;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: greenyellow;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: greenyellow;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: greenyellow;
  }





  </style>
<h class='cmdtext'>Welcome to my portfolio website! </h>
<div>
<div  class='borderheader cmdtext'><img src='/static/images/terminal.jpg' alt='Terminal Icon' style="width:35px;height:30px"><p1>C:Users\5ifty\This_Website\Terminal.exe</p1></div>
<div class='borders cmdtext' style='overflow: scroll; scrollbar-color: grey lightgrey;'>Command Terminal [Version 13.01.22]<br>(c) 5ifty & Affiliates. All rights reserved. Please read licensing agreements.<br>
<form id='cmdform1' method='POST'>
C:\Users\5ifty\This_Website\ &#160;

<div class='blinking-cursor'>|</div>
<p><a href="https://www.github.com/5ifty">-Github</p>


</div>
</div>
</body>

<body>




</body>

</html>
